#Title {font-family:Georgia, 'Times New Roman', Times, serif; font-size: 100px;text-align: center; text-decoration: underline;}
.Image-1 {display:block; margin-left: auto;margin-right: auto;}
.Text-1 {font-family: Georgia, 'Times New Roman', Times, serif;font-size:35px;text-align: center;}
li{font-family:Georgia, 'Times New Roman', Times, serif;font-size: 35px; display:table; margin:0 auto;}
